
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label" for="">Location</label>

                        <div class="form-group">
                            <input type="checkbox" name="Sangamner City" id="sangamnercity">
                            <label for="sangamnercity">Sangamner City</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="ghulewadi" id="ghulewadi">
                            <label for="ghulewadi">Ghulewadi</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="amrutvahinicollege" id="amrutvahinicollege">
                            <label for="amrutvahinicollege">Near Amrutvahini College(Nashik-pune Highway)</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="saykhindiphata" id="saykhindiphata">
                            <label for="saykhindiphata">Saykhindi Phata(Nashik-pune Highway)</label>
                        </div>



                        <!-- select options -->

                        <!-- <select name="locations" id="locations" value="location">
                            <option value="sangamnercity">Sangamner City</option>
                            <option value="ghulewadi">Ghulewadi</option>
                            <option value="amrutvahinicollege">Near Amrutvahini College(Nashik-pune Highway)</option>
                            <option value="saykhindiphata">Saykhindi Phata(Nashik-pune Highway)</option>
                            <option value="karheghat">Karhe Ghat(Nashik-pune Highway)</option>
                            <option value="nandurshingote">Nandur Shingote(Nashik-pune Highway)</option>
                            <option value="sinner">Sinner</option>
                        </select> -->


                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group mb-4">
                <input class="form-control" type="text" id="searchlocation" placeholder="Search By Location">
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img class="site-img img fluid" src="./assets/prime logo.png" alt="site-1">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img class="site-img img fluid" src="./assets/prime logo.png" alt="site-2">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img class="site-img img fluid" src="./assets/prime logo.png" alt="site-3">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img class="site-img img fluid" src="./assets/prime logo.png" alt="site-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>